@import "../node_modules/bulma/bulma";

* {
  font-family: 'Montserrat', sans-serif !important;
}

html, body, .navbar {
  background: #eeeeee;
}

h1 {
  font-weight: 900 !important;
  font-size: 2.5rem !important;
}

p {
  text-align: justify;
  hyphens: manual;
  max-width: 640px;
  margin: 1.5rem 0;
}

.navbar {
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar-item:hover {
  background: none !important;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.restrict-width {
}
