@import "../node_modules/bulma/bulma";

* {
  font-family: 'Montserrat', sans-serif !important;
}

html, body, .navbar, .footer {
  background: #eeeeee;
}

h1, h2 {
  font-weight: 900 !important;
}

h1 {
  font-size: 2.5rem !important;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem !important;
  margin-bottom: 1rem;
}

p {
  text-align: justify;
  hyphens: manual;
  max-width: 640px;
  margin-bottom: 1.5rem;
}

.navbar {
  text-transform: uppercase;

  .container {
    border-bottom: 1px solid #ccc;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.navbar-item:hover {
  background: none !important;
}

.main.container {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.footer {
  a {
    color: black;
  }

  .container {
    border-top: 1px solid #ccc;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
