@import "../node_modules/bulma/bulma";

* {
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  font-weight: 900 !important;
  font-size: 2.5rem !important;
}

p {
  text-align: justify;
  hyphens: manual;
  max-width: 640px;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.restrict-width {
}
