<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>

    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}

    {{ $styles := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&amp;subset=latin-ext">

    <link rel="stylesheet"
          href="{{ $styles.Permalink }}"
          integrity="{{ $styles.Data.Integrity }}"
          media="screen">
</head>
